@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: black;
    background-color: #fbdc34;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    height: 80px;
}

#home {
    height: calc(100vh - 80px);
}

.navbar-link {
}

.navbar-link:hover {
    background-color: white;
    box-shadow:
        0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.btn,
.navbar-link {
    transform: scale(1);
    transition: all 200ms ease-in-out;
}

.btn:hover,
.navbar-link:hover {
    transform: scale(1.1);
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0.46);
}

.emoji-yellow-bg {
    background-color: #fbdc34;
}
